/* 
	CSS Syntax

	selector {
		
		property:  value;
	}

 */
/* 

	* - universal selector. It is able to select all the elements in an HTML page 
	
	font-family property allows to determine the font of the text. The value "Courier New" becomes the default font of our elements. monospace is the secondary font or the fallback font, which means if the font "Courier New" is not installed or cannot ve found, we will fallback to use a font similar to "Courier New".

	font-size property allows us to change the size of the font. font-size can also be measured not only by pixel. Other CSS measurements can be used to determine the font-size.

	
*/
* {
	/*default font for all elements*/
	font-family: "Courier New", monospace;
	font-size: 20px; 
}

html {
	/*scroll-behavior changes the scrolling when navigation within the page*/
	scroll-behavior: smooth;
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

/*selector: hover pseudo class*/
/*change the style of an element when hovered over.*/
a:hover {
	background-color: #b4d6de;
}

nav > div {
	/*display:  inline-block allowed to change the display of the div element from block to inline black, which means this div is now inline with its siblings however still act like a block element*/
	/*float:  right we were able to change the horizontal alignment of our element and put it to the right of our container.*/
	display: inline-block;
	float: right;

}

/*type/tag selector -allows us to select elements og the type or tag*/
h1 {
	/*ctrl + shift + /*/
	/*!important will make the property a priority.*/
	color: black !important;
	font-size: 2rem; /*2 x root-element-font-size*/
	text-align: center;
	/*rem - root element, rem is measurement based on the font size of the root element. Default font size 16px.
	The root element is the html tag.*/
}

section {
	/*increased the height of our sections to 100% viewport height.
	Viewport Height is the height of the page with the screen we are viewing from*/
	height: 100vh;
	/*allows us to horizontally align our text within the element.*/
	text-align: center;

}

h2 {
	font-size: 1.5rem;
}

ol {
	/*removes the list style from our list items*/
	list-style-type: none;
}

/*
	id-selector allows is to select the element with a particula id. This select is the highest priority 
	
	In CSS, you can select the id by adding # before the name of the id.

*/
#zuitt-motto {
	letter-spacing: 5px;
}
/*
	 class-selector allows to select element/elements with the same class. In CSS, we can select the class by adding . before the name of the class.

	 An element can have both an id and a class, however declarations for the id is give more priority over class.
*/

/*

li {
	text-transform: lowercase;
}
*/

.offering-item{
	/*text-transform allows to determine the case of an element.*/
	text-transform: uppercase;
	/*letterspacing: 20px*/
}

/*
	attribute selector allows to select elements with the same tag attribute

		tag[attribute]

 */
input[required]{
/*
		border-width property allows us to change the thickness of element's border.

		border-style property allows us to change the style of the border.

		border-color property allows us to change the color of an element's border. 

*/
	
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	/*The width of the input is now 90% of its parent element's*/
	width: 90%;
}
/*
	adjacent sibling selector. This allows us to select the sibling element directly after the first selector.

	first selector + adjacent sibling

	The selectors doesn't have to be type it could be a class, id etc.
*/
h3 + img {
/*
	height and width properties allows us to determine the height and width of an element. Unlike the height and width attributes in our HTML, in CSS, we can add more measurements instead of just pixels

	border-radius allows us to round the corners of an element.
*/
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*
	descendant selector

	allows us to select elements which are descendants of the first selector

	first selector (ancestor <space> second selector (descendant))

 */
#bootcamp-learning-list li {

/*	
	#075966 as a value to color:  This is a hex value. This is a hexadecimal value and it consists of the pound sign # plus 6 alpha numeric characters. Hex value colors are more specific than HTML colors
*/
	color: #075966;

}

/*

	general sibling selector - this will allow us to select siblings after our first selector
	
	selector ~ selector (siblings)

*/
h2 ~ a {
	/*text-decoration property change lines included in text (ex. overlin, underlines or strikethrough). By default, anchor tags have underline.*/
	text-decoration: none;
}
/*
	Child Selector

	Allows to select the child of am element

	selector (parent) > seclector (child)

*/
body > section > form > label {
	/*rgb() can be accepted as a value of properties that change colors.
	RGB values refer to red, green and blue. And the combination of these values from 0 to 255 determines the color.*/
	color: rgb(0,0,128);
}

form {
	text-align: center;
	background-color: white;
	/*border <width> <style> <color>*/
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*Viewport Width is a measurement based on a percentage of the width of the screen we are viewing our page from*/
	/*
	
	position property changes the position of an element based on a criteria.

	position relative; means we will move the element realative to its original position in the document.

	left property allows us add measurement on the left side of the element.
	The value % is based on the measurement of the parent element. 37.25% from the left of the parent element.

	 */
	position: relative;
	left: 37.25%;
}

/*
	Mini-Activity

	Style our button with the following specifications
	-the text of the button should be white
	-bg (background) color of the button should be hex #cf0053
	-it should have 0 border
	-it should have a border radius of at least 15px

*/


button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
}