
#external {
	color: rgb(255,255,0);
}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#uppercase {
	text-transform: uppercase;
}

.learning-list {
	background-color: #add8e6;
}

.tools {
	border: 2px;
	border-color: rgb(0,0,255);
	border-style: solid;
}
/*comebackhere!!!*/
img + ul {
	list-style-type:none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 10px;
}